back_end/node_modules
front_end/node_modules
front_end/src/services/api.js
back_end/package-lock.json
back_end/.env
back_end/src/.env
front_end/.env
mobile/node_modules
.editorconfig
node_modules
*.pdf
back_end/src/arquivos/relatorios
front_end/package-lock.json
*.csv
mobile/package-lock.json
mobile/yarn.lock
back_end/src/arquivos/boletos
back_end/src/arquivos/remessas
back_end/src/arquivos/termos
back_end/src/arquivos/debito_conta
back_end/src/config/database.js
back_end/src/middlewares/connectionResolver.js
front_end/src/images/logo/*.png
back_end/src/arquivos/imagens/logo/*.png
!back_end/src/arquivos/imagens/logo/faee_cabecalho.png

*.txt
*.log
.git
Atividade
back_end/.eslintrc.json
front_end/.eslintrc.json
mobile/.expo
back_end/src/arquivos/imagens/carteirinhas/
.vscode/