@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(0, 184, 235);
  --primary-color-darker: rgb(11, 124, 155);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: var(--primary-color);
}

.container {
  margin: 25px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form button {
  margin: auto;
  display: block;
  width: 50%;
}

form input {
  height: 50px;
}

form input:focus {
  outline: 2px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

h2 {
  text-align: center;
}